// .is-scrolling {
//   background: gray;
// }

// .is-resizing {
//   background: lightblue;
// }

.test-div {
  height: 480px;
  overflow: auto;
  width: 640px;
}

ella-treadmill-item {
  background: rgba(0, 0, 0, 0.05);
}
