// .is-scrolling {
//   background: gray;
// }

// .is-resizing {
//   background: lightblue;
// }

ella-treadmill-item {
  &.ella-treadmill-item-row-1 {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.ella-treadmill-item-column-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02));
  }
}

.containment {
  width: 100%;
  transition: width 1s;

  &.is-small {
    width: 50%;
  }
}
