// .is-scrolling {
//   background: gray;
// }

// .is-resizing {
//   background: lightblue;
// }

html, body {
  font-family: -apple-system,Helvetica,Arial,sans-serif;
}

ella-treadmill-item {
  &.ella-treadmill-item-row-1 {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.ella-treadmill-item-column-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02));
  }
}

.containment {
  width: 100%;
  transition: width 1s;

  &.is-small {
    width: 50%;
  }
}

nav.demo-controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: lightblue;
  z-index: 100;
  padding: 0 2rem;
}
